/OOP1/nbproject/private/
/OOP1/build/
/Test/nbproject/private/
/Test/build/
/TempConverterDegrees/nbproject/private/
/DistanceConverter/nbproject/private/
/DistanceConverter/build/
/TempConverterDegrees/build/
/MathFloorCeil/nbproject/private/
/MathFloorCeil/build/
/Snowman/nbproject/private/
/Snowman/dist/
/Snowman/build/
/Counter/nbproject/private/
/Counter/build/
/Counter/dist/
/CounterTest/nbproject/private/
/CounterTest/build/