/OOP1/nbproject/private/
/OOP1/build/
/Test/nbproject/private/
/Test/build/
/TempConverterDegrees/nbproject/private/
/DistanceConverter/nbproject/private/
/DistanceConverter/build/
/TempConverterDegrees/build/
/MathFloorCeil/nbproject/private/
/MathFloorCeil/build/
/Snowman/nbproject/private/
/Snowman/dist/
/Snowman/build/
/Counter/nbproject/private/
/Counter/build/
/Counter/dist/
/CounterTest/nbproject/private/
/CounterTest/build/
/ThreeImages/nbproject/private/
/ThreeImages/build/
/ThreeImages/dist/
/GuessTheNumber/nbproject/private/
/GuessTheNumber/build/
/PizzaToppings/nbproject/private/
/PizzaToppings/build/
/PizzaToppings/dist/
/StringLoop/nbproject/private/
/StringLoop/build/
/Pinwheel/nbproject/private/
/Pinwheel/build/
/Pinwheel/dist/
/Student/nbproject/private/
/Student/build/
/StudentBody/nbproject/private/
/StudentBody/build/
/AlienDirection/nbproject/private/
/AlienDirection/build/
/CardGame/nbproject/private/
/CardGame/build/
/SoundsAndImages/nbproject/private/
/SoundsAndImages/build/
/SoundsAndImages/dist/
/HospitalEmployees/nbproject/private/
/HospitalEmployees/build/
/ColorPicker/nbproject/private/
/ColorPicker/build/
/ColorPicker/dist/
/PickerDemo/nbproject/private/
/PickerDemo/build/
/Movies/nbproject/private/
/Movies/build/
/SortingDemo/nbproject/private/
/QuoteOptions/nbproject/private/
/QuoteOptions/build/
/QuoteOptionsNew/nbproject/private/
/QuoteOptionsNew/build/
/PalindromeTester/nbproject/private/
/PalindromeTester/build/
/QuoteOptionsListView/nbproject/private/
/QuoteOptionsListView/build/
/FoodImages/nbproject/private/
/FoodImages/build/
/TiledImages/nbproject/private/
/TiledImages/build/
/SolveTowers/nbproject/private/
/SolveTowers/build/